name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3
    
    - name: Build and Test
      run: ./gradlew build
    
    - name: Generate Javadoc
      run: ./gradlew javadoc
    
    - name: Generate Javadoc JAR
      run: ./gradlew plainJavadocJar
    
    - name: Get version
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
    
    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false
        body: |
          See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md) for details.
    
    - name: Upload Release JAR
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}.jar
        asset_name: lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}.jar
        asset_content_type: application/java-archive
    
    - name: Upload Sources JAR
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}-sources.jar
        asset_name: lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}-sources.jar
        asset_content_type: application/java-archive
    
    - name: Upload Javadoc JAR
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
        asset_name: lucimber-bcrypt-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
        asset_content_type: application/java-archive